#------------ Mongo variables --------------
MONGO_INITDB_PORT=
MONGO_INITDB_USERNAME=
MONGO_INITDB_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_INITDB_HOST=

#------------ Server variables --------------
SERVICE_PORT=
SALT_ROUNDS=

#------------ Jwt variables --------------
TOKEN_SECRET=
TOKEN_EXPIRATION_TIME=